@{
    ViewData["Title"] = $"{Model.LastName}'s Detail";
}
@model DepartmentDetailViewModel

<h1>@ViewData["Title"]</h1>

<a asp-action="Index" class="btn btn-outline-success">Back to list</a>
<hr>

<div class="card" style="width: 18rem;">
    <div class="card-header">
        @Model.Name
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Description</li>
    </ul>
</div>